/* POSITION */
.relative{
    position: relative;
}
.absolute{
    position:absolute;
}

/* ELEMENTS CENTER */

.flex{
    display: flex;
}
.v-center{
    align-items: center;
}
.h-center{
    justify-content: center;
}

/* texte */
.text-center{
    text-align: center;
}
